@model Logister.Models.import

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Import Item</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Sender)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Brand)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brand)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Type)
            </td>
            <td>
                @Html.DisplayFor(model => model.Type)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Transport_Via)
            </td>
            <td>
                @Html.DisplayFor(model => model.Transport_Via)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Quantity)
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantity)
            </td>
        </tr>
    </table>
</div>
<p style="align-content:center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index",null,new { @class="btn btn-primary"})
</p>
