@model Logister.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Username)
            </td>
            <td>
                @Html.DisplayFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-success"}) |
    @Html.ActionLink("Back to List", "Index",null,new { @class="btn btn-primary"})
</p>
